.container {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  gap: 4px;
}

.title {
  font-weight: bold;
}

.sidebar {
  background-color: #0ea5e9;

  grid-row: 1 / 5;
  display: grid;
}

.sidebar div {
  color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: 4;
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.grid-item {
  display: grid;
  align-items: center;
  justify-items: center;
}

.new,
.upload,
.share {
  color: white;
  border: none;
  border-radius: 20px;
  background-color: #0ea5e9;
  gap: 15px;
  width: 75px;
  font-weight: bold;
}

.header-buttons {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-column-start: 4;
  grid-column-end: 6;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.Projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  background-color: #e5e7eb;
  gap: 15px;
}

.announcements {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.socials {
  display: grid;
  grid-template-rows: 1fr 1fr;

  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.your-projects {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.projects-container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.card {
  border: 1px solid black;
  grid-row: 2 / 4;
}

.search-button,
.notifications-icon {
  height: 30px;
  width: 30px;
  background-color: white;
  border: none;
}

.notifications {
  background-color: white;
  border: none;
}

.search-bar {
  border-radius: 20px;
  border: none;
  background-color: #e5e7eb;
}

.trending-container {
  display: grid;
  grid-row-start: 2;
  grid-row-end: 3;
}

.announcements-container {
  background-color: white;
  border-radius: 15px;
  height: 350px;
  width: 350px;
  /* align-items: center;
  justify-content: center; */
}
.trends {
  background-color: white;
  border-radius: 15px;
  height: 350px;
  width: 350px;
  /* align-items: center;
  justify-content: center; */
}
